.titlebar-nav { 
    background-color: rgb(45, 48, 49); 
    width: 100%;
}
h1 {
    padding-bottom: 0.2em; 
    padding-left: 1em;
    padding-top: 0.2em;
    fill: white;
    color: rgb(226, 202, 98);
}
.form-control{
    position: relative;
    right: 2200px;
    top: 20px;
}
.btn{
    position: relative;
    right: 2000px;
    bottom: 17px;
}
a{
    position: relative;
    left: 20px;
}